on: [push, pull_request] # Runs the job upon pushing a commit or creating a pull request

jobs:
  ci:
    name: CI Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
      
      - name: Install Dependencies
        run: pip install -r requirements.txt
    
      - name: Check for Code Quality
        run: make quality # Involves linting, formatting and type checking

            
            

        
