on: [push, pull_request] # Runs the job upon pushing a commit or creating a pull request

env:
  AWS_REGION: "eu-west-2"

permissions:
  id-token: write
  contents: read

jobs:
  ci:
    name: CI Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          role-to-assume: arn:aws:iam::187065639894:role/github-oidc
          aws-region: ${{ env.AWS_REGION }}

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'
      
      - name: Install Dependencies
        run: pip install -r requirements.txt
    
      - name: Check for Code Quality
        run: make quality # Involves linting, formatting and type checking

      - name: Run Tests
        run: make test

            
            

        
